
.main-content {
	margin-top: 100px;
}
/*
.content-section {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

@media (max-width: 1200px) {
	.button-link {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}*/

.inline {
	display: inline;
}

h2.inline {
	padding-right: 20px;
}

.time-zone {
	margin-bottom: 20px;
}

.current-time {
	margin-top: 20px;
}


.table-hover>tbody>tr:hover {
	background-color: #CCE5EC;
}

.time {
    text-align:right;
}

.proposed-time-input, .proposed-date-input {
	
	text-align: center;
}


.proposed-time-table {
	margin-top: 15px;
}

.local-time {
	margin: 0;
}

.top-info {
	margin-bottom: 40px;
}

.instructions {
	margin-top: 20px;
	margin-bottom: 15px;
}




.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	/*display: block;*/
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
 
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}
.twitter-typeahead {
	display: inline !important;
}

.row {
	margin-right: 0;
	margin-left: 0;
}


@media screen and (max-width: 768px) {
    .proposed-time-input, .proposed-date-input {
        width: 100%;
    }
    .proposed-form {
    	margin-bottom: 10px;
    	text-align: left;
    }
}


@media screen and (min-width: 769px) {
    .proposed-date-input {
    	width: 100px !important;
    	/*margin-left: 15px;*/
    }
    .proposed-time-input {
    	width: 60px !important;
    }
}


